.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px;
    text-align: center;
    color: #212121 !important;
    text-decoration: none;
}

#Nav-section {
    margin-top: 4%;
}

#Brand-name {
    float: left;
    position: absolute;
    top: 130px;
    left: 70px;
    transform: rotate(15deg) !important;
    color: white;
    z-index: 10;
    font-family: Poppins !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 54px !important;
}

#Bottom-brand-name {
    position: absolute;
    color: white;
    z-index: 10;
    font-family: Poppins !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 54px !important;
    padding-left: 75px;
    padding-top: 80px;
}

#Brand-header-blob {
    background-image: linear-gradient(90deg, #73E0A9 0%, #5B68DF 100%);
    transform: rotate(-15deg);
    /* tried to experiment here to get the exact shape of the blob but couldn't get it to work
        background: 
        radial-gradient(circle 20px at -60% 80%,transparent,transparent 100px,#73E0A9 100px), 
        radial-gradient(circle 20px at 120% 80%,transparent,transparent 100px,#5B68DF 100px);*/
    width: 567px;
    height: 450px;
    border-radius: 100px 500px 300px 500px / 100px 300px 300px 300px;
    position: relative;
    margin-top: -200px;
}

#Blob-bottom {
    background-image: linear-gradient(90deg, #5B68DF 0%, #73E0A9 100%);
    /* tried to experiment here to get the exact shape of the blob but couldn't get it to work
        background: 
        radial-gradient(circle 20px at -60% 80%,transparent,transparent 100px,#73E0A9 100px), 
        radial-gradient(circle 20px at 120% 80%,transparent,transparent 100px,#5B68DF 100px);*/
    width: 600px;
    height: 350px;
    border-radius: 200px 200px 200px 100px / 200px 300px 200px 100px;
    position: relative;
}

#Hero-space {
    margin-top: 15%;
    margin-left: 25%;
    width: 35%; 
    font-family: Poppins !important;
    color: #212121;
}

.Header {
    margin-bottom: 20px;
}

.Info-button {
    margin-top: 10px;
    border-radius: 20px !important;
    width: 150px;
    background: linear-gradient(90deg, #73E0A9 0%, #5B68DF 100%);
    font-family: Poppins !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: white !important;
}

.Secondary-info {
    margin-top: 300px;
    margin-bottom: 25%;
    width: 50%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.Product-image {
    border-radius: 10% !important
}

.Product-card {
    border-radius: 10% !important;
    margin-bottom: 50px;
}

#Login-button {
    border-radius: 20px !important;
    width: 150px;
    margin-left: 60px;
    background: linear-gradient(90deg, #73E0A9 0%, #5B68DF 100%);
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}

.About-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 80px;
}

.About-list {
    list-style-type: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #212121;
}

.About-links {
    padding-top: 11px;
}

#Load-more-btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #5C6DDE;
}

.Social-icon-box {
    width: 45px;
    height: 45px;
    background: linear-gradient(90deg, #73E0A9 0%, #5B68DF 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.Social-icon-row {
    padding-top: 16px;
}

.Social-icon {
    width: 55%;
    height: auto;
    color: white;
}

#Footer-content {
    margin-top: 50px;
}
