.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Navbar {
    float: right;
}

#Nav-section {
    margin-top: 4%;
}

.Brand-name {
    float: left;
}

#Hero-space {
    margin-top: 15%;
    margin-left: 25%;
    width: 35%
}

.Header {
    margin-bottom: 20px;
}

.Info-button {
    margin-top: 10px;
    border-radius: 20px !important;
    width: 150px;
}

#Secondary-info {
    margin-top: 20%;
    margin-bottom: 25%;
    width: 50%
}

.Product-image {
    border-radius: 10% !important
}

.Product-card {
    border-radius: 10% !important;
    margin-bottom: 50px;
}

.Login-button {
    border-radius: 20px !important;
    width: 150px;
    margin-left: 60px;
}
